body{
  font-family: 'Rubik', sans-serif !important;

}

a{
  text-decoration: none !important;
  display: inline-block !important;
}

:root{
  --color-131921: #000000;
  --color-3b4149:#3b4149;
  --color-febd69:#febd69;
  --color-232f3e:#aa0000;
  --color-bf4800:#dd9933;
  --color-f5f5f7:#f5f5f7;
  --color-ededed:#ededed;
  --color-777777:#777777;
  --color-1c1c1b:#1c1c1b;
}
.header-bottom-mobile{
  display: none;
}
.card-wrapper{
  background-color: white;
  box-shadow:  0 0 10px #0000001a;
  padding: 15px;
}
.small-banner img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.badge-rounde{
  background-color: var(  --color-232f3e);
  font-size: 10px;
}
.progress-bar{
  background-color: var(  --color-232f3e);
}
 .overlay{
  width: 100%;
  height: 100%;
  background: rgb(0,0,0,0.6);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.marquee-inner-wrapper .overlay{
  background-color: white;
}
.header-top-strip{
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}
.header-upper img{
  width: 35px;
}
.end{
  text-align: end;
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
}
.form-control:focus{
  box-shadow: none !important;
  border-color: inherit !important;
}
.header-upper .header-upper-links img{
  width: 25px;
  height: 25px;
}
.header-upper .header-upper-links p{
  text-align: center;
  margin-bottom: 0 !important;
}
.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}
.shopping{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom{
  background-color: var(--color-232f3e);
}
.button{
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 35px;
  transition: 0.4s;

}
.button:hover{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.header-bottom .menu-links a, .menu-bottom .dropdown button{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 1px;
 
  align-items: center;

}

.menu-bottom .dropdown button:focus{
  box-shadow: none !important;
}
.header-bottom .dropdown-menu{
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px,0px) !important;
}
.header-bottom .dropdown-item {
  padding: 15px;
  
 
}
.header-bottom .dropdown-item:hover{
  background-color:  transparent !important;
  color: var(--color-febd69) !important;
}
footer{
  background-color: var( --color-131921);
}
footer:not(:first-child){
  border-top: 1px solid  rgba(255,255,255,0.1);
}

footer .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

.main-banner-content{
  top: 15%;
  left: 5%;
}
.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:var(--color-bf4800) ;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 40px;
 
  font-weight: 500;
  text-transform: none;
  color: white;

}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}



.small-banner-content{
  top: 15%;
  left: 10%;
}
.small-banner-content h4{
  font-size: 14px;
  
  color:var(--color-bf4800) ;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5{
  font-size: 26px;

  letter-spacing: -1px;
  font-weight: 500;
  text-transform: none;
  color: white;

}

.small-banner-content p {
  font-size: 14px;
 
  letter-spacing: 0.4px;
  color: white;
}


.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}
.text-bold{
  font-weight: 600;
}

.categories{
  background-color: white;
  box-shadow:  0 0 10px #0000001a;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.categories>div{
  width: 25%;
  padding: 10px;

}



.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3)
{
  border-right: 1px solid var(--color-ededed);
}
.categories img{
  max-width: 100px;
}
.categories>div:nth-child(5),
.categories>div:nth-child(6),
.categories>div:nth-child(7)
{
  border-right: 1px solid var(--color-ededed);
}

.blog-card{
  background-color: white;
  border-radius: 10px;

}
.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px ;
  height: 300px;
  object-fit: cover;
  padding: 25px;
  max-width: 100%;
}
.blog-content{
  padding: 15px;

}
.filter{
  display: none;
}
.products-list span{
  margin-top: 15px;
  font-size: 12px;
}
.blog-content p{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}

.blog-content h5{
  font-size: 18px;
  color: var(--color-131921);

}
.blog-content p{
  font-size: 13px;
  line-height: 22px;
  color: var(--color-777777);
}
.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
  padding: 0 !important;
  display: block;
}
.section-heading:before{
  content:"" ;
  position: absolute;
  
  bottom: -10px;
  background: var(--color-232f3e);
  height: 3px;
  width: 10%;

}

.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;

}
.js-image-zoom__zoomed-image{
  width: 500px !important;
  height: 500px !important;
}
.product-card:hover .action-bar{
right: 10px;

}
.product-card .product-details h6{
color: var(--color-bf4800);
font-size: 13px;
}

.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card .product-details p{
font-size: 16px;
color: var(--color-1c1c1b);
}
.action-bar{
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon{
  top: 2%;
  right: 10px;
}
.marque-wrapper{
  overflow: hidden;
}
.marquee img{
  width: 100px;
}
.sm-imgs-product img{
  width: 100px;
}
.special-product-card{
padding: 20px 10px;
border-radius: 10px;
background: white;

}
.special-product-card img{
  height: 150px;

  object-fit: cover;
}
.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}

.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul, .filter-card .form-check-label{
  list-style: none !important;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 15px;


}
.filter-short-grid-box-sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-card .form-check-input:focus{
border-color: rgba(0,0,0,0.25) !important;
box-shadow: inherit !important;
}
.filter-card .form-check-input:checked{
  background-color: var(--color-febd69);
  border-color: rgba(0,0,0,0.25) !important;

}


.filter-short-grid{
  padding: 10px;
  background-color: white;
  border-radius: 10px;

}

.sm-imgs{
  display: flex !important;
  align-items: center;
 
}
.sm-imgs img{
 margin-right: 15px;
  width: 60px;
}
.additional .home-icon{
  font-size: 50px;
}
.filter-short-grid-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.grid img{
width: 29px;
height: 29px;
background-color: #f2f2f2;
padding: 8px;
border-radius: 3px;
cursor: pointer;
}

.gr-12{
width: 100%;

}
.gr-6{
  width: 48%;
}
.gr-4{
  width: 32%;
}
.gr-3{
  width: 24%;
}

.gr-4 .product-image{
  width: 100%;
}
.gr-6 .product-image  img{
  margin: auto;
  display: block;
}
.gr-12 .product-card{
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-image{
  width: 270px;

}
.social-icons a{
  margin-left: 15px;
}
.gr-12 .product-card .product-image{
  height: auto;
}
.product-card .description{
  font-size: 13px;
  color: var(--color-777777);
}
.gr-12 .action-bar{
 
    top: 13%;
  }
.special-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.contact-inner-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
  
}

.contact-inner-wrapper>div{
  width: 100%;
}
.contact-title{
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact-inner-wrapper .form-control{
  background-color: var(--color-f5f5f7 ) !important;
  border-color: transparent !important;
}
.contact-inner-wrapper ul {
  list-style: none !important;
}

.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-card .cross , .wishlist-card .cross  {
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}
.compare-product-details h5.title, .wishlist-card .title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details .price , .wishlist-card .price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.category-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.compare-product-card .product-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-f5f5f7);
}

.auth-card{
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
}

.auth-card .form-control{
  height: 50px;
  background-color: var(--color-f5f5f7);
  color: var(--color-131921);
  border-color: transparent;
  
}

.auth-card .signup{
  background-color: var(--color-febd69);
  color: var(--color-131921);

}
.auth-card .signup:hover{
  background-color: var(--color-131921);
  color: white

}

.single-blog-card .title{
font-size: 24px;
font-weight: 600;
color: var(--color-1c1c1b);
}

.single-blog-card p{
  color: var(--color-777777);
  font-size: 14px;
}
.arrow{
  color: var(--color-3b4149);
}

.policy{
  background-color: white;
  padding: 30px;
  
}
.review-inner-wrapper{
  background-color: white;
  padding: 30px;
}
.reviews-head{
border-bottom: 1px solid rgba(0,0,0,0.1);
padding-bottom: 20px;
}

.reviews-head h4{
  font-size: 18px;
  color: var(--color-1c1c1b);
 
}


.reviews-head p, .reviews-head a{
  font-size: 14px;
  color: #777777;
}
.review-form h4{
  font-size: 16px;
  color: var(--color-777777);
}

.main-product-image{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.main-product-image>div{
  border: 1px solid rgba(0,0,0,0.25);
  padding: 20px;
}
.header-top-strip img{
  display: none;
}
.blog-img img{
  height: 250px;
  object-fit: cover;

}
.blog-img span{
  font-size: 12px;
  margin-top: 15px;
}
.main-product-image img{
   width: 100% !important;
   object-fit: cover;
   height: 100% !important;
   
}
.contact-title 
.other-product-images{
  background-color: white;
  padding: 20px;
}
.other-product-images>div{
  border: 1px solid rgba(0,0,0,0.25);
  padding: 20px;
  width: 48%;
}

.main-product-details{
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.border-bottom{
  border-bottom: 1px solid rgb(0,0,0,0.1);
}

.main-product-details h3{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 10px;
}

.main-product-details .price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;

}

.write-review{
  color: var(--color-777777);

  font-size: 13px;
}

.main-product-details .product-data{
font-size: 13px;
color: var(--color-777777);
margin-bottom: 0px;
}

.main-product-details .product-heading{
font-size: 14px;
color: var(--color-1c1c1b);
margin-bottom: 0px;


}

.js-image-zoom__zoomed-image{
  z-index: 10000;
}

.main-product-details .compare{
  font-size: 14px;
  color: var(--color-3b4149);
}
.cart-header, .cart-data{
  border-bottom: 1px solid #eaeaea;
}
.cart-header h4{
  font-size: 13px;
  color: var(--color-777777);
}

.cart-col-1{
  width: 40%;
}

.cart-col-1 p{
  color: var(--color-777777);
  font-size: 14px;
}
.cart-col-2{
  width: 10%;
}

.cart-col-3{
  width: 15%;
}

.cart-col-4{
  width: 15%;
}

.cart-data h5.price{
  font-size: 14px;
  color: var(--color-1c1c1b);
  font-weight: 600;
}

.total{
  font-size: 15px;
  color: var(--color-1c1c1b);
  font-weight: 600;
}
.total-price{
  font-size: 16px;
  color: var(--color-777777);
}
.products-list img{
  height: 250px;
  object-fit: cover;
  text-align: center;
 

}


@media screen and (max-width: 992px) {
  .small-banner-content h5{
    font-size: 17px;
  }
  
  .small-banner-content h4{
    text-transform: none;
  }
  .main-banner-content h5{
    font-size: 25px;
  }
  .blog-content h5{
    font-size: 14px;
  }
  .footer-top-data h2{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header-upper img{
    text-align: center;
    margin-bottom:05px;
    
  }
  .shopping{
    display: block;
    text-align: center;
  }
  .checkout{
    margin-top: 20px;
  }
  
  .auth-card{
    width: 100%;
  }
  .section-heading:before{
    content:"" ;
    position: absolute;
    
    bottom: -10px;
    background: var(--color-232f3e);
    height: 3px;
    width: 20%;
  
  }
  .filter{
    display: block;
    background: white;
    padding: 15px;
    border-radius: 10px;
    
  }

  .filter a{
    color: black;
  }
  .filter-card-none{
    display: none;
  }
  .product-block{
    display: none !important;
  }
  .small-banner-content h5{
    line-height: normal;
    font-size: 18px;
  }
  .blog-content{
    text-align: center;
  }
  .header-top-strip p{
    font-size: 14px;
  }
  .header-upper .header-upper-links img{
    width: 20px;

    height: 20px;
  }
  .header-upper .header-upper-links p{
    font-size: 14px;
    
  }
  .menu-bottom span{
    font-size: 12px;
  }
  .menu-bottom img{
    width: 20px;
    height: 20px;
  }
  .header-bottom .menu-links a, .menu-bottom .dropdown button{
    font-size: 13px;
  }
  
  .categories>div{
    width: 50%;
    padding: 10px;
 
  }
  
  .blog-card img{
    padding: 20px;
   
    
  }

  .blog-content h5{
    font-size: 14px;
  }
  .footer-top-data img{
    width: 20px;
  }
  .footer-top-data h2{
    font-size: 18px;
  }
  .footer-top-data img{
    display: none;
  }
}
.left{
  left: 0 !important;
}
.fa{
  color: white !important;
  font-size: 30px;
  position: absolute !important;
  left: 12px;
  top: 13px;
  z-index: 99999999999;
  display: none;
  cursor: pointer;
 
}
.header-upper-links{
  margin-top: 20px;
}
.filter-short-grid{
  display: flex !important;
  justify-content: space-between ;
}
@media screen and (max-width: 576px) {
  .compare-col{
display: none;
  }

  .header-bottom{
    display: none;
  }
  .end{
    text-align: center;
  }
  .footer-top-data h2{
    font-size: 13px;
  }
  .header-bottom-mobile{
    display: block;
    background-color: var(--color-232f3e);
    position: fixed;
    left:-100%;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 99;
    transition: 0.5s;
  
  }
  .header-bottom-mobile .menu-links{
    display: block !important;
    flex-direction: column;

  }
  .header-bottom-mobile .menu-links .menu-link{
    margin-top: 25px;
  }
  .header-bottom-mobile .menu-links li{
list-style: none !important;
margin-top: 25px;

  }
  .header-bottom-mobile .menu-links a{
    display: block !important;
  }
  .links{
    margin-left: 20px;
  }
  .free{
    margin-top: 40px;
  }
  .header-bottom-mobile .menu-bottom{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 40%;
  }
  .menu-bottom span{
    font-size: 14px;
  }
  .header-top-strip p{
    font-size: 9px;
  }
  .small-banner-content h5{
    font-size: 14px;
  }
  .small-banner-content p{
    font-size: 11px;
  }
  .small-banner-content h4{
    font-size: 12px;
    text-transform: none;
  }
  .main-banner-content h5{
    font-size: 17px;
   
  }
  .main-banner-content .button{
    padding: 10px 20px;
    font-size: 12px;
  }
  .main-banner-content p{
    font-size: 13px;
    line-height: 18px;
  }
  .main-banner-content h4{
    font-size: 13px;
    line-height: normal;
    margin-bottom: 8px;
  }
  .fa{
    display: block;
  }
  .social-icons{
    text-align: center;
  }
  .special-box{
    display: block;
  }
 
  
  .special-product-content {
    margin-top: 20px;
  }

  .special-box {
    text-align: center;
  }
  .blog-card{
    text-align: center;
  }
  .section-heading{
    text-align: center;
    
  }
  .header-upper img{
    display: none;
  }
  .header-top-strip img{
    display: block;
    width: 30px;
  }
  .free{
    text-align: center;
  }
  .categories img{
    max-width: 50px;
  }
}